<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

    <!-- Page Content -->
    <div class="container">

        <div class="row">

<div class="col-md-1"></div>
            <div class="col-md-10">
<h1>Hello, Admin {{admin.name}}</h1><br>
<h4>Total Customers: {{customers|length}}</h4>

<h3>Exsisting Customers:</h3>
<table class="table table-hover">
	<thead>
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Address</th>
		<th>Email</th>
        <th>Number Of Products</th>
		<th>Creation Date</th>
	</tr>
	</thead>
<tbody>
	{%for customer in customers%}
	{%if not customer.deleted%}
    <tr>
		<td>{{customer.id}}</td>
        <td><a href={{url_for('show_user_profile', user_id=customer.id)}}>{{customer.name}}</a></td>
		<td>{{customer.address}} </td>
		<td>{{customer.email}}</td>
        <td>{{customer.products|length}}</td>
        <td>{{customer.when_created}}</td>
	</tr>{%endif%}
{%endfor%}</tbody>
</table>
<br><br>


<h3>Deleted Customers:</h3>
<table class="table table-hover">

<thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
        <th>Email</th>
        <th>Number Of Products</th>
        <th>Creation Date</th>
    </tr>
    </thead>
<tbody>
    {%for customer in customers%}
    {%if customer.deleted%}
    <tr>
        <td>{{customer.id}}</td>
        <td><a href={{url_for('show_user_profile', user_id=customer.id)}}>{{customer.name}}</a></td>
        <td>{{customer.address}} </td>
        <td>{{customer.email}}</td>
        <td>{{customer.products|length}}</td>
        <td>{{customer.when_created}}</td>
    </tr>{%endif%}
{%endfor%}</tbody>
</body>
</html>