<!DOCTYPE html>
<html lang="en">


{% include 'head.html' %}
<body>
<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-md-1"></div>
        <div class="col-md-12">

            <div align="center" class="form-group "><h1>Are You Sure You Want To Log Out?</h1>
                <a class="btn btn-warning col-md-6" href="{{url_for('logout')}}">Yes</a>
                <a class="btn btn-default col-md-6" href="{{url_for('index')}}">No</a>
            </div>
        </div>
</body>
</html>