<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
    <script type="text/javascript" src="static/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <title>Yad 2 Music Shop</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Bootstrap Core CSS -->


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <!-- <script src="src/bootstrap-rating-input.js"></script> -->
    <script src="/static/js/bootstrap-rating-input.min.js"></script>


    <script>
$(document).ready(function(){
    $("#flip").click(function(){
        $("#panel").slideDown("slow");
    });
});






    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <style>
#panel, #flip {
    padding: 5px;
    border: solid 1px #c3c3c3;
}

#panel {
    padding: 50px;
    display: none;
}






    </style>
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href={{url_for('inventory')}}>Yad 2 Music Shop</a>
        </div>
        <ul class="nav navbar-nav">
            <li>
                <a href={{url_for('favorites')}}><span class="glyphicon glyphicon-star"> </span>
                    Favorites
                </a>
            </li>
            <li>
                <a href={{url_for('upload_page')}}><span class="glyphicon glyphicon-cloud-upload"> </span>
                    Upload Product
                </a>
            </li>
            <li>
                <a href={{url_for('my_products')}}><span class="glyphicon glyphicon glyphicon-th-large"> </span>
                    My Products
                </a>
            </li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href={{url_for('newCustomer')}}><span class="glyphicon glyphicon-user"></span>
                    Sign Up
                </a>
            </li>
            <li>
                <a href={{url_for('login')}}><span class="glyphicon glyphicon-log-in"></span>
                    Login
                </a>
            </li>
            <li>
                <a href={{url_for('are_you_sure_to_log_out')}}><span class="glyphicon glyphicon-log-out"></span>
                    Log Out
                </a>
            </li>
        </ul>
    </div>
</nav>