<!DOCTYPE html>
<html lang="en">


{% include 'head.html' %}

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h1>Yad 2 Music Shop</h1>
            <div class='flash'>
                {% with messages = get_flashed_messages() %}
                {% if messages %}

                <ul>
                    {% for message in messages %}
                    <li><strong> {{ message }} </strong></li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
            </div>
            <div class="row">
                {%if products==[]%}
                <p> There is nothing here. Nope.</p>

                {%else%}

                {%for product in products %}
                {%if product.customer.deleted==False%}
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <a href={{url_for('product', product_id=product.id)}}>
                            <img src={{product.photo}} style="height: 250px">
                        </a>
                        <div class="caption">
                            <h4 class="pull-right">${{product.price}}</h4>
                            <h4><a href={{url_for('product', method='get' , product_id=product.id)}}>{{product.name}}</a>
                            </h4>
                            <p>{{product.description}}</p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">
                                {{product.comments|length}} reviews
                            </p>
                            <p>
                                {%for i in range(product.stars|int) %}
                                <i class="fa fa-star"></i>
                                {%endfor%}
                                {%if product.stars-product.stars|int>=0.5%}
                                <i class="fa fa-star-half-o"></i>
                                {%for i in range(4-(product.stars|int)) %}
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                {%endfor%}
                                {%else%}
                                {%for i in range(5-(product.stars|int)) %}
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                {%endfor%}
                                {%endif%}
                            </p>
                        </div>
                    </div>
                </div>
                {%endif%}
                {%endfor%}

            </div>

        </div>

    </div>

</div>
<!-- /.container -->
{%endif%}
<div class="container">

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Eilon Goldberg</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
</body>
</body>

</html>
