<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class='flash'>
                {% with messages = get_flashed_messages() %}
                {% if messages %}

                <ul>
                    {% for message in messages %}
                    <li><strong> {{ message }} </strong></li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}

            </div>
            <div class="thumbnail">
                <i>Product Id: {%for zero in range(10-product.id|int) %}0{%endfor%}{{product.id}}</i>


                <img class="img-responsive" style="height:400px" src={{product.photo}} alt="">
                <div class="caption-full">
                    <h4 class="pull-right" id="product_price">{{product.price}}₪</h4>
                    <h4 style="color : #337ab7">
                        {{product.name}}
                    </h4>
                    <p>{{product.description}}</p>
                    <p>Uploaded in: {{product.timestamp}}</p>
                </div>
                <div class="ratings">
                    <p class="pull-right">
                        {{product.comments|length}} reviews
                    </p>
                    <p>
                        {%for i in range(product.stars|int) %}
                        <i class="fa fa-star"></i>
                        {%endfor%}
                        {%if product.stars-product.stars|int>=0.5%}
                        <i class="fa fa-star-half-o"></i>
                        {%for i in range(4-(product.stars|int)) %}
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        {%endfor%}
                        {%else%}
                        {%for i in range(5-(product.stars|int)) %}
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        {%endfor%}
                        {%endif%}
                    </p>
                </div>


                <a class="form-control btn btn-primary"
                   href="{{url_for('add_to_favorites', product_id=product.id)}}">Add to Favorites</a>


                <div class="well">

                    <div class="row text-right">

                        <div class="col-sm-1"></div>
                        <div class="col-md-10">
                            <div class="widget-area no-padding blank">
                                <div class="status-upload form-group">
                                    <form class="form-horizontal" method="post"
                                          action={{url_for('product',product_id=product.id)}}>
                                            <textarea class="form-control" name="text"
                                                      placeholder="What do you think about this product"></textarea><br>
                                        <p class="pull-left">Your Rating: <input type="number" name="rating"
                                                                                 id="rating1" class="rating"></p>
                                        <br>
                                        <button type="submit" name="submit" class="btn btn-success green"><i
                                                class="glyphicon glyphicon-share-alt"></i> Leave a Review
                                        </button>
                                    </form>
                                </div><!-- Status Upload  -->
                            </div><!-- Widget Area -->
                        </div>
                    </div>

                    <hr style="border-color: darkgrey">
                    {%if product.comments==[]%}
                    <div class="col-md-1"></div>
                    No comments yet. Be the first one!
                    {%else%}
                    {%for comment in product.comments[::-1]%}
                    <div class="row">

                        <div class="col-sm-1">

                            <div class="thumbnail">
                                <img class="img-responsive user-photo"
                                     src="{{comment.customer.photo}}">
                            </div><!-- /thumbnail -->
                        </div><!-- /col-sm-1 -->

                        <div class="col-sm-10">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <strong class="pull-left">{{comment.customer.name}}</strong>
                                    <div class="col-sm-1"></div>

                                    {%for star in range(comment.stars|int) %}
                                    <i class="fa fa-star"></i>
                                    {%endfor%}
                                    {%for star in range(5-comment.stars|int) %}

                                    <i class="fa fa-star-o"></i>
                                    {%endfor%}


                                    <span class="text-muted pull-right">{{comment.timestamp}}</span>
                                </div>
                                <div class="panel-body">
                                    <p class="col-lg-12"><font>{{comment.text}}</font></p>
                                </div><!-- /panel-body -->
                            </div><!-- /panel panel-default -->
                        </div><!-- /col-sm-5 -->


                    </div><!-- /row -->
                    <hr>
                    {%endfor%}
                    {%endif%}
                </div>

            </div>
            <div class="row"></div>

            <h3>Similar Products</h3>
            <div class="row">
                {%if common_products==[]%}
                <div class="col-sm-4 col-lg-4 col-md-4">
                    Sorry, this product has no similar products yet.
                </div>
                {%else%}
                {%for item in common_products%}
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <a href={{url_for('product', product_id=item.id)}}>
                            <img src={{item.photo}} style="height: 200px">
                        </a>
                        <div class="caption">
                            <h4 class="pull-right">₪{{item.price}}</h4>
                            <h4><a href={{url_for('product', product_id=item.id)}}>{{item.name}}</a>
                            </h4>
                            <p>{{item.description}}</p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">
                                {{item.number_of_reviews}} reviews
                            </p>
                            <p>{%for star in range(product.stars|int) %}
                                <i class="fa fa-star"></i>
                                {%endfor%}
                                {%for star in range(5-product.stars|int) %}
                                <i class="fa fa-star-o"></i>
                                {%endfor%}
                            </p>
                        </div>
                    </div>
                </div>
                {%endfor%}
                {%endif%}
            </div>
        </div>

    </div>
    <!-- /.container -->
    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Eilon Goldberg</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->
</div>
<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

</body>

</html>
