<html lang="en">

{% include 'head.html' %}


<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h1>Profile for User: {{customer.email}}</h1>
            <br>

            <h3>ID:</h3> {{customer.id}}<br>
            <h3>Name:</h3> {{customer.name}}<br>
            <h3>Address:</h3> {{customer.address}}<br>
            <h3>Email:</h3> {{customer.email}}<br>
            <h3>Created in:</h3> {{customer.when_created}}<br>
            <h3>Products Uploaded:</h3>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Stars</th>
                    <th>When Uploaded</th>
                </tr>
                </thead>
                <tbody>
                {%for product in customer.products%}
                <tr>
                    <td>{{product.id}}</td>
                    <td><a href="{{url_for('product', product_id=product.id)}}">{{product.name}}</a></td>
                    <td>${{product.price}}</td>
                    <td>{{product.stars}}</td>
                    <td>{{product.timestamp}}</td>
                </tr>
                {%endfor%}
                </tbody>
            </table>
            <br>
            <h3>Favorite Products:</h3>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Stars</th>
                    <th>When Added</th>
                </tr>
                </thead>
                <tbody>
                {%for fav in customer.favorites%}
                <tr>
                    <td>{{fav.product.id}}</td>
                    <td><a href="{{url_for('product', product_id=fav.product.id)}}">{{fav.product.name}}</a></td>
                    <td>${{fav.product.price}}</td>
                    <td>{{fav.product.stars}}</td>
                    <td>{{fav.product.timestamp}}</td>
                </tr>
                {%endfor%}
                </tbody>

            </table>
            <br>
            <h3>Comments:</h3>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Text</th>
                    <th>Stars</th>
                    <th>Product</th>
                    <th>When Posted</th>
                </tr>
                </thead>
                <tbody>
                {%for comment in customer.comments%}
                <tr>
                    <td>{{comment.id}}</td>
                    <td>{{comment.text}}</td>
                    <td>{{comment.stars}}</td>
                    <td><a href="{{url_for('product', product_id=comment.product.id)}}">{{comment.product.name}}</a></td>
                    <td>{{comment.timestamp}}</td>
                </tr>
                {%endfor%}
                </tbody>
            </table>
            <br><br>
            {%if customer.deleted%}
            <h3>Deleted in:</h3>{{customer.when_deleted}}<br>
            {%endif%}

        </div>
    </div>

    <br>
    {%if not customer.deleted%}
    <div class="form-group">
        <form action="{{url_for('are_you_sure_to_delete', user_id=customer.id)}}"><input
                class="form-control btn btn-danger" type="submit" value="Delete User"></form>
    </div>
</div>
{%endif%}