<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h1>Upload Product</h1>
            <div class='flash'>
                {% with messages = get_flashed_messages() %}
                {% if messages %}

                <ul>
                    {% for message in messages %}
                    <li><strong> {{ message }} </strong></li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
            </div>
            <form action="{{ url_for('upload_page',customer_id=customer_id) }}" method='post'
                  enctype="multipart/form-data">
                <h4>Product Info:</h4>
                Name Of The Product:<br>
                <input class="form-control" type="text" name="product_name" placeholder="Product's Name"><br>
                Description:<br>
                <input class="form-control" type="text" name="description" placeholder="Product's Description"><br>
                Tags:<br>
                <input class="form-control" type="text" name="tags" placeholder="Separate Tags With Spaces"><br>
                Photo:<br>
                <input type="file" name="pic"><br>
                Price:<br>
                <table>
                    <tr>
                        <td>$</td>
                        <td class="col-lg-12"><input class="form-control" type="number" min="0" step="0.01" name="price"
                                                     placeholder="Price In American Dollars"></td>
                    </tr>
                </table>
                <br><br>
                <div class="col-md-12">
                    <input class="form-control" type="submit" value="Upload Product">
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>